<% include ./partials/header.ejs %>


<div class="container">
    <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <div class="row">
        <div class="col-md-7 font_opensans">
        <p>I am currently pursuing Software Engineering Technology at Centennial College. I have a Master's degree in 
        Software Systems and Bachelor's degree in Computer Science Engineering from Guru Nanak Dev University, India and 
        Punjab Technical University, India respectively. </p>
        <p>I am taking these courses in this semster:</p>
        <ul>
            <li>Emerging Technologies</li>
            <li>Data Structure and Algorithm</li>
            <li>System Integration</li>
            <li>Game Programming</li>
            <li>Software Development 2</li>                                    
        </ul>
        <p>I am proficient in Java, Java EE, Android Applicayion Development,
        ASP.NET, C#, MySQL, MS Access, Oracle, NodeJS, ExpressJS, MongoDB.</p>
         <p>I do well in pressure situations and have excellent problem solving skills.</p>
         <p > Here is the link to my Resume:</p>
         <p class="lead"><a href = "public/Assets/Technical_Resume.pdf" >Resume</a></p>
        </div>
        <!-- my image-->
        <div class="col-md-1 col-md-offet-1"></div> 
        <div class="col-md-4">
        <img src="public/Assets/images/profile.jpeg" style="width: 250px; height: 250px;" class="img-rounded"/>
        </div>
        <!--End my image-->
    </div>
</div>
</div>

<!-- // <div class="container">
//     <div class="jumbotron">
//       <h1 class="display-4">About me</h1>
//       <div>
//             <img src="public/Assets/images/profile.jpeg" style="width: 250px; height: 250px;" class="img-rounded"/>
//       </div>
        
//     </div>
//   </div> -->




<% include ./partials/footer.ejs %>