<% include ./partials/header.ejs %>

  <!-- <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Contacts</h1>
        <% if(title == "Contact") { %>
          <a class="btn btn-primary" href="/contact-list" role="button">Link</a>

        <% }%>
      </div>
  </div> -->

  <% if(title == "Home") { %>
    <a href="/"></a>
    <div class="container">
    <div class="jumbotron">
      <img src="../../public/Content/logo.PNG" alt="">
      <h1 class="display-4">Maninder's Career Portfolio</h1>
        <p class="lead"> "To have fun in my journey through life and learn from my mistakes" </p>

        <p > Welcome to my Career Portfolio website. My site contains description of my projects that I made during my Bachelor's and Master's. 
          <br>I am currently pursuing Software Engineering Technolgy in Centennial College will be graduating in April 2019.
        </p>
    </div>
  </div>
    <% }%>

    <% if(title == "About me") { %>
      <a href="/about"></a>
      <% }%>

      <% if(title == "Projects") { %>
        <a href="/projects"></a>
        <% }%>

        <% if(title == "Services") { %>
          <a href="/Services"></a>
          <% }%>

  <% include ./partials/footer.ejs %>