<% include ./partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <div class="row">
        <div class="col-md-7 font_opensans">

        <h6><u>Offered Services</u></h6>
        <ul>
        <li>Unity Game Development</li>
        <li>Android Application Development</li>
        <li>Web Designing</li>
        </ul>

        </div>
</div>
</div>

<% include ./partials/footer.ejs %>